body{
  margin: 0px; /* Fjerner margen rundt hele nettsiden */
  font-family: helvetica; /*Setter skrifttype på hele nettsiden */
}
nav{
  background-color: #1565c0; /* Velger en bakgrunnsfarge på navigsjonsbaren */
  display: flex; /* Gjør navigasjonsbaren til en flex box */

}
nav a{ /* Velger alle a-elementer som ligger inne i navigsjonsbaren*/
  color: white; /* Velger skrift farge på lenkene*/
  text-decoration: none; /* Fjerner understrek på lenkene */
  padding: 25px; /* Lager 25px med luft rundt lenkene*/
}

nav .active{  /* Velger klassen active inne i navigasjonsbar*/
  background-color: #0d47a1; /* Velger bakgrunnfarge på elementet som er active*/
}

nav a:hover:not(.active){
  background-color: #82b1ff;

}
